*{margin: 0;padding: 0;}
body{font-family: "Microsoft Yahei",verdana;}
ul,li,h2{margin:0;padding:0;}
ul{list-style:none;}
.sharing_con{width: 1166px;margin: 0 auto;overflow: hidden;padding-bottom: 20px;padding-top: 20px}
.sharing_nav{width: 1154px;border-bottom: 2px solid #888888;margin: 0 auto;}
.sharing_nav_d1{width: 100%;height:35px;margin:0 auto;}
.sharing_nav_d2{width: 98%;height:35px;margin:0 auto;}
.sharing_nav_p1{float: left;font-size: 16px;line-height:35px;font-size: 18px;color: #000;font-weight: bold;}
.sharing_nav_p2{float: right;font-size: 13px;line-height:35px;margin-right: 10px;color:#9F9F9F;}
.sharing_nav_p2 span{color: #DB191A}
.el-dropdown{margin-top:8px;margin-left:10px;float: left;}
.el-dropdown-link{font-size: 13px;}
.el-breadcrumb{float: left;width: 500px;margin-top: 12px;margin-left:30px;font-size: 13px;}
.el-breadcrumb__item{margin-left:10px;}
.el-breadcrumb__separator{margin-left:10px;}
.sharing_list{width: 1166px;margin-top: 20px;overflow: hidden;}
.sharing_list_d{width:279.5px;height: 400px;float: left;margin-left: 5px;margin-right: 5px;border: 1px solid #ECECEC;margin-bottom:10px}
.sharing_list_d img{width: 90%;margin-left: 5%;margin-top:10px;height: 230px}
.sharing_list_p{width: 90%;margin-left: 5%;height: 30px;line-height: 30px;font-size: 15px;font-weight: bold;margin-top:10px; overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; white-space:nowrap; }
.sharing_list_p1{width: 90%;margin-left:5%;height: 25px;line-height:25px;font-size: 12px;overflow: hidden;border-bottom:1px dashed #ECECEC;}
.sharing_list_sp1{float: left;font-size: 12px;color: #43B9FD}
.sharing_list_sp2{float: right;font-size: 12px;}
.sharing_list_p2{width: 90%;margin-left:5%;line-height:20px;margin-top:10px; word-break:break-all;display:-webkit-box; -webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;}
.block{width:500px;margin: 0 auto}
.hrdm_zw{width: 1156px;margin:20px auto;height: 100px;padding-bottom: 20px}
.hrdm_zw p{width: 1153px;height: 98px; text-align: center; line-height: 98px;font-size: 20px; border: 1px solid #e6e6e6;}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































