*{margin: 0;padding: 0;}
body{font-family: "Microsoft Yahei",verdana;}
ul,li,h2{margin:0;padding:0;}
ul{list-style:none;}
.newstannouncenore_con{width: 1156px;margin: 0 auto; overflow: hidden;}
.newstannouncenore_left{width: 867px;float: left;overflow: hidden;margin-top: 20px}
.newstannouncenore_right{width:269px;float: right;background: #F2F2F2;}
.newstannouncenore_left_p{overflow: hidden;width: 867px;height: 40px;line-height: 40px;border-bottom: 2px solid #888888;font-size: 18px; color: #000; font-weight: bold;}
.newstannouncenore_left_div{width: 877px;margin-top:20px;margin-bottom:20px;}
.newstannouncenore_left_d{width:280.3px;height: 465px;float: left;border: 1px solid #ddd;margin:0 10px 10px 0;}
.newstannouncenore_left_d img{width: 90%;margin-left: 5%;margin-top: 10px;height: 210px}
.sharing_list_p{width: 90%;margin-left: 5%;height:20px;line-height: 20px;font-size: 12px;margin-top:10px; overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; white-space:nowrap; }
.sharing_list_p1{width: 90%;margin-left: 5%;height: 20px;line-height:20px;font-size: 12px; }
.sharing_list_d1{width: 100%;height: 150px;background: #F5F5F5;margin-top: 10px}
.sharing_list_left{width: 30%;height: 100%;float: left;}
.sharing_list_right{width:70%;height: 100%;float: left;}
.sharing_list_left img{width: 60px;margin-left:20px;margin-top: 40%;height:60px;border-radius:30px;overflow: hidden;}
.sharing_list_right_p{margin-top:20px;width: 100%;height: 20px;line-height: 20px;font-size: 12px;overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; white-space:nowrap;}
.sharing_list_right_p1{width: 100%;height: 20px;line-height: 20px;font-size: 12px;overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; white-space:nowrap;}
.sharing_list_right_p1 span{color: #EC2D2D;font-weight: bold;}
.sharing_list_right_p span{color: #3399FF;font-weight: bold;}
.sharing_list_right_btn{cursor:pointer;width: 80px;height: 30px;border: 1px solid #ddd; line-height: 30px;text-align: center;}
.sharing_list_right_btn:hover{background: #fff}
.newstannouncenore_right_p{padding-left: 22px;height: 40px;font-size: 16px;line-height: 45px;color: #666633;background-color: #e3e3e3;background: -webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e3e3e3));}
.newstannouncenore_right_img{width:269px;}
.newstannouncenore_right_d{width: 240px;height:400px;margin-left: 14.5px;background: #fff;margin-bottom:10px}
.newstannouncenore_right_d img{width: 200px;height:200px;margin-left:20px;margin-top:10px}
.sharing_list_p{width: 90%;margin-left: 5%;height: 30px;line-height: 30px;font-size: 15px;font-weight: bold;margin-top:10px; overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis; white-space:nowrap; }
.el-progress{width: 90%;margin-left: 5%;}
.sharing_list_sp1{float: left;}
.sharing_list_sp2{float: right;}
.sharing_list_right_btn2{margin:10px auto;cursor:pointer;width:100px;height:40px; line-height: 40px;text-align: center;background: #EC2D21;color: #fff;font-size: 14px;border-radius: 4px}
.sharing_list_right_btn2:hover{background: #f40;}
.block{width:500px;margin: 0 auto}
.hrdm_zw{width: 869px;margin: 20px auto;height: 100px;padding-bottom: 20px}
.hrdm_zw p{width: 865px;height: 98px; text-align: center; line-height: 98px;font-size: 20px; border: 1px solid #e6e6e6;}













































































































































































































































































































































































































