.glb_bot_adver{width: 720px;height: 181px;border:1px solid #e6e6e6;overflow:hidden;}
.slides{width: 720px;overflow: hidden;}
.it_ul{overflow: hidden;}
.glb_bot_adver_img{width: 130px;height: 140px;float: left;border:1px solid #e6e6e6;margin-top:10px;margin-left: 10px}
.glb_bot_adver_img img{width: 130px;height: 140px;}
.glb_bot_adver_p{width:100px;height: 139px;float: left;cursor:pointer;margin-top: 10px;margin-left: 20px;}
.glb_bot_adver_p_con1{width: 181px;line-height: 20px;font-size: 15px}
.glb_bot_adver_p_con2{width: 181px;height: 28px;line-height: 28px;font-size: 14px;color: #7D667D}
.slides-li{border-left: 1px solid #e6e6e6;position: relative;width: 358px;float: left;height: 181px;background: #fff}
.glb_m{position: absolute;top:0;left: 0; }











