
/*!  author: Li Zhen Ya
 *   base.css
 *   http://azenui.com/
/*!  http://y-show.com/   */


html {  color:#333; }


body { background: #fff none repeat scroll 0 0;
    color: #666;
    font: 12px/150% Arial,Verdana, "microsoft yahei";}

html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td { margin:0; padding:0;}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary { display:block; margin:0; padding:0; }

audio,canvas,progress,video { display:inline-block; vertical-align:baseline; }

a {text-decoration:none; color:#08acee; }

a:active,a:hover { outline:0; }

mark { color:#000; background:#ff0; }

small { font-size:80%; }

img { border:0; }

button,input,optgroup,select,textarea { margin:0; font:inherit; color:inherit;}

li {list-style:none;}

i {font-style:normal;}

a {color:#666;}

a:hover { color:#ea4949;}

em {font-style:normal;}

h2, h3 { font-family: "microsoft yahei";font-weight:100;}

.clearfix::after { clear:both; content:"."; display:block; height:0; visibility:hidden;}

.clearfix {}

.BHeader {height:35px; line-height:35px; width:100%; background:#f5f5f5; border-bottom:1px solid #e7e5e5}
.BHeaderl {float:left;}
.BHeaderl li {float:left; line-height:35px; padding-right:15px;}
.BHeaderl li a {display:block;  color:#666; font-size:12px;  }

.nav-right{margin-left: 350px;}
.headerul {height:18px; color:#dfdbdb; width:1px; display:block; margin-top:2px; overflow:hidden;}
.yNavIndex{width: 1156px;margin:0 auto;height:35px;/*border-bottom: 2px solid #2d2d2d;*/position: relative;}
