.glb_user{overflow: hidden; height: 296px; width:100%;text-align:center}
.glb_user{width: 207px;height: 481px;float: right;border: 1px solid #e6e6e6;margin-right:180px;float: left;border-left:none; border-top:none; }
.glb_user_con{width: 215px;height: 80px;border-bottom: 1px dotted #000000}
.glb_user_head{width: 50px;height: 80px;float: left}
.glb_user_head img{width: 40px;height: 40px;margin-left: 10px;margin-top: 10px;border-radius: 20px}
.glb_user_p{width:130px;height: 80px;float: right;margin-right: 20px;}
.user_pho{font-size: 12px;font-family: 微软雅黑;color: #A14A39;width: 80px;height: 22px;margin-top: 5px;text-align: left}

















