<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 指令</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h3>v-model 指令</h3>
    <hr>
    <div id="app">
        <p>原始msg的值：{{msg}}</p>
        <p><input type="text" v-model.number="msg"></p>  
        <p>
            <input type="checkbox" v-model="istrue" id="istrue">
            <label for="istrue">{{istrue}}</label>
        </p>
        <h3>多选绑定一个数组</h3>
        <hr>
        <div>
            <input type="checkbox" id="jsbai" value="js白" v-model="studyName">
            <label for="jsbai">js白</label>
            <input type="checkbox" value="js张" id="jszhang" v-model="studyName">
            <label for="jszhang">js张</label>
            <input type="checkbox" value="js雪" id="jsxue" v-model="studyName">
            <label for="jsxue">js雪</label>
            <p style="color:red;">选中的值：{{studyName}}</p>
        </div>
        <h3>单选绑定</h3>
        <hr>
        <div>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="two">女</label>
            <p style="color: green;">你选中的值：{{sex}}</p>
        </div>
        <!-- <textarea cols="30" rows="10" v-model="msg"></textarea> -->
    </div>
    <ol>
        <li>.lazy： 取代了input监听change事件，双向数据绑定时，当input失去焦点时msg的值才变化。</li>
        <li>.number：输入字符串转为数字</li>
        <li>.trim: 输入去掉首尾空格</li>
    </ol>
</body>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
           count: 10,
           msg: "请输入您的姓名",
           sendMsg: 20,
           istrue: "男",
           studyName: [],
           sex: "男"
        },
        methods: {
           
        }
    })
</script>
</html>