<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Foo</title>
	<script src="script/vue.js"></script>
	<script src="script/v-router.js"></script>

	<style>

	</style>
</head>
<body>
<div id="box">
	<h1>{{msg}}</h1>
	<input v-model="msg">
	<ul>
		<li v-for="(item , index , key) in json">{{item}} {{key}} {{index}}</li>
	</ul>
</div>
</body>
<script>
 new Vue  ({
     el : '#box',
	 data : {
         msg : "你好",
		 json : {a: "apple", b : "banana", c : "orange"}
	 }
 })
</script>
</html>